@typeparam T

<MudOverlay @bind-Visible="_showMentionBox" AutoClose> </MudOverlay>

<div class="absolute" id="editor-popover-container">
    <MudPopover Open="@_showMentionBox" >
        <MudList Clickable Dense @bind-SelectedValue="SelectedSuggestionIndex">
            <MudListSubheader>
                Members
            </MudListSubheader>
            <MudDivider />

            @if (_suggestions is not null)
            {
                @if (_suggestions.Count() == 0)
                {
                    <MudListItem>
                        <MudText Typo="Typo.subtitle2">
                            Member with username <b>@(CurrentWord[1..])</b> not found.
                        </MudText>
                    </MudListItem>
                }
                else
                {
                    @foreach (var (item, index) in _suggestions.Select((item, index) => (item, index)))
                    {
                        <MudListItem Value="@index" OnClick="@(() => OnItemSelected(item))">
                            @if (SuggestionContentItem is not null)
                            {
                                @SuggestionContentItem(item)
                            }
                            else
                            {
                                <span>@item.Username</span>
                            }
                        </MudListItem>
                    }
                }
            }
            else
            {
                <MudListItem>
                    <MudText Typo="Typo.subtitle2">
                        Type at least one letter to start the search
                    </MudText>
                </MudListItem>
            }

            @* TODO: add a footer *@
        </MudList>
    </MudPopover>
</div>

<div class="editor-container">
    <div @ref="_editor"
         class="editor editor-typo"
         contentEditable
         data-editor
         data-highlightword="@HighlightWord"
         data-highlightline="@HighlightLine"
         @onkeydown="CheckKey">
    </div>

    <div id="editor-stats" class="d-flex editor-stats px-2 pt-1">
        @* @if (!string.IsNullOrEmpty(@_currentWord))
        {
            <div>Current Word: @_currentWord</div>
        } *@

        <div class="ml-4">Ln @_currentLine</div>
        <div class="mr-1">,</div>
        <div>Col @_currentCol</div>
    </div>
</div>