<MudOverlay @bind-Visible="_showMentionBox" AutoClose> </MudOverlay>

<div class="absolute" id="editor-popover-container">
    <MudPopover Open="@_showMentionBox" >
        <MudList Clickable Dense @bind-SelectedValue="SelectedSuggestionIndex">
            @if (_suggestions is not null)
            {
                @if (_suggestions.Count() == 0 && CurrentWord is not null)
                {
                    <MudListItem>
                        <MudText Typo="Typo.subtitle2">
                            Member with username <b>@(CurrentWord[1..])</b> not found.
                        </MudText>
                    </MudListItem>
                }
                else
                {
                    @foreach (var (item, index) in _suggestions.Select((item, index) => (item, index)))
                    {
                        <MudListItem Value="@index" OnClick="@(() => OnItemSelected(item))">
                            @if (SuggestionContentItem is not null)
                            {
                                @SuggestionContentItem(item)
                            }
                            else
                            {
                                <span>@item.Text</span>
                            }
                        </MudListItem>
                    }
                }
            }
            else
            {
                <MudListItem>
                    <MudText Typo="Typo.subtitle2">
                        Type at least one letter to start the search
                    </MudText>
                </MudListItem>
            }

            @* TODO: add a footer *@
        </MudList>
    </MudPopover>
</div>

<div class="editor-container">
    <div @ref="_editor"
         class="editor editor-typo"
         contenteditable
         data-editor
         @onkeydown="CheckKey">
    </div>
</div>