@page "/"

@using blazorServerMentions.Data;
@using blazorServerMentions.Components;

@inject ProfileService ProfileSvc

<PageTitle>Mentions</PageTitle>

<MudContainer  Class="relative" MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h3" GutterBottom="true">How to use it</MudText>

    <MudText Class="mb-8">
        Type <b>@@</b> and start typing some letters for example <b>as</b>
    </MudText>

    <MudAlert Severity="Severity.Normal">
        You can select the member using arrow up <MudIcon Icon="@Icons.Material.Filled.ArrowUpward"></MudIcon>
        and arrow down <MudIcon Icon="@Icons.Material.Filled.ArrowDownward"></MudIcon>.
        You can close the mention box pression <b>Escape</b> or select the user typing <b>Enter</b>
    </MudAlert>

    <div class="mt-8">
        <MentionTextArea @ref="_mention"
                         T="Profile"
                         SearchFunc="@SearchFunc"
                         HighlightWord="@_highlightWord"
                         HighlightLine="@_highlightLine" >
            <SuggestionContentItem>
                <MudStack Row AlignItems="AlignItems.Center">
                    @if (!string.IsNullOrEmpty(context.Avatar))
                    {
                        <MudAvatar Image="@context.Avatar" Size="Size.Small"></MudAvatar>
                    }
                    else
                    {
                        <MudAvatar Size="Size.Small">
                            <MudIcon Icon="@Icons.Material.Filled.Image" Size="Size.Small"/>
                        </MudAvatar>
                    }

                    <MudText Typo="Typo.body1">
                        @context.Name
                    </MudText>

                    <MudSpacer></MudSpacer>
                    <MudText Typo="Typo.caption">
                        @@@context.Username
                    </MudText>
                </MudStack>
            </SuggestionContentItem>
        </MentionTextArea>
    </div>

    <MudStack Row Class="mt-4">
        <MudSpacer></MudSpacer>
        <MudButton Variant="Variant.Filled" DisableElevation OnClick="GetContent">
            Get Text Editor Content
        </MudButton>
    </MudStack>

    <pre class="mt-4 border pa-4 rounded">
        @if (!string.IsNullOrEmpty(Content))
        {
            <p>@Content</p>
        }
    </pre>
</MudContainer>

@code {
    public string? Content { get; set; }

    private bool _highlightWord = true;
    private bool _highlightLine = true;

    private MentionTextArea<Profile>? _mention;

    private async Task<IEnumerable<Profile>> SearchFunc(string query)
    {
        return await ProfileSvc.GetProfiles(query, limit: 5);
    }

    private async Task GetContent()
    {
        if (_mention is not null)
        {
            Content = await _mention.GetContent();
        }
    }
}